---
import Button from "@/components/ui/button";
import H1 from "@/components/ui/typography/H1.astro";
import { siteConfig } from "@/lib/config";
import { icons } from "@/lib/icons";
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
---

<section class="flex flex-col-reverse xl:flex-row items-center gap-16 md:my-16 mt-8 mb-16">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <H1>Deveesh Shetty</H1>
      <div class="flex flex-col gap-4">
        <p>
          Frontend Developer messing around with modern frontend libraries and
          frameworks. I love exploring new technologies, playing around with
          them. Developer by passion and artist by hobby.
        </p>
        <div>
          <p class="flex items-center gap-2">Software Engineer at Levels.fyi</p>
          <p>Working remotely 🏖️</p>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-between gap-4">
      <div class="flex gap-4 text-xl md:text-2xl">
        <a
          href={siteConfig.socials.github}
          target="_blank"
          aria-label="Visit Deveesh's GitHub profile"
          class="p-3 -m-3 hover:text-gray-300 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2 focus-visible:ring-offset-gray-900 rounded-md"
        >
          <Icon name={icons.GitHub} size={20} />
        </a>
        <a
          href={siteConfig.socials.linkedin}
          target="_blank"
          aria-label="Visit Deveesh's LinkedIn profile"
          class="p-3 -m-3 hover:text-gray-300 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2 focus-visible:ring-offset-gray-900 rounded-md"
        >
          <Icon name={icons.LinkedIn} size={20} />
        </a>
        <a
          href={siteConfig.socials.twitter}
          target="_blank"
          aria-label="Visit Deveesh's Twitter profile"
          class="p-3 -m-3 hover:text-gray-300 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2 focus-visible:ring-offset-gray-900 rounded-md"
        >
          <Icon name={icons.Twitter} size={20} />
        </a>
      </div>
      <a
        href="Resume.pdf"
        download="Deveesh Resume.pdf"
        class="flex items-center cursor-pointer gap-2"
      >
        <Button client:load className="w-full cursor-pointer py-2">
          <span>Resume</span>
          <Icon name={icons.Download} />
        </Button>
      </a>
    </div>
  </div>
  <div class="rounded-full max-w-xs md:max-w-sm lg:max-w-md xl:max-w-lg mx-auto">
    <Image
      src="/profile.png"
      alt=""
      class="rounded-lg outline-1 outline-gray-700 w-full h-auto"
      inferSize
      width={1000}
      height={1000}
      priority
      loading="eager"
    />
  </div>
</section>
