---
import { icons } from "@/lib/icons";
import { Icon } from "astro-icon/components";
import ButtonWithTooltip from "@/components/ui/button-with-tooltip.astro";
import { Image } from "astro:assets";
import { siteConfig } from "@/config/site";
---

<nav
  class="fixed backdrop-blur-sm flex w-full items-center py-4 border-b border-b-gray-700 shadow-[0_0_120px_80px_rgba(0,0,0,0.1)] shadow-gray-700/10"
  style="z-index: var(--z-nav);"
>
  <div
    class="container mx-auto max-w-7xl px-4 sm:px-8 md:px-16 lg:px-24 flex items-center justify-between"
  >
    <div>
      <a href="/" class="text-xl hover:text-gray-200">
        <Image src={siteConfig.logo} loading="eager" aria-label="Deveesh Shetty's Logo" alt="Deveesh Shetty's Logo" width={36} height={36} />
      </a>
    </div>
    <ul class="flex items-center gap-4 justify-end text-lg">
      <li>
        <ButtonWithTooltip href="/now" label="Now" ariaLabel="View what I'm doing now">
          <Icon name={icons.Now} />
        </ButtonWithTooltip>
      </li>
      <li>
        <ButtonWithTooltip href="/books" label="Books" ariaLabel="View my book collection">
          <Icon name={icons.Books} />
        </ButtonWithTooltip>
      </li>
      <li>
        <ButtonWithTooltip href="/uses" label="Uses" ariaLabel="View my tech stack">
          <Icon name={icons.Uses} />
        </ButtonWithTooltip>
      </li>
      <li>
        <ButtonWithTooltip href="/blog" label="Blog" ariaLabel="View my blog posts">
          <Icon name={icons.Blog} />
        </ButtonWithTooltip>
      </li>
      <li>
        <ButtonWithTooltip href="/art-gallery" label="Art Gallery" ariaLabel="View my art gallery">
          <Icon name={icons.Palette} />
        </ButtonWithTooltip>
      </li>
    </ul>
  </div>
</nav>
