---
import H2 from "@/components/ui/typography/H2.astro"
import H3 from "@/components/ui/typography/H3.astro"
import { icons } from "@/lib/icons"
import { talks } from "@/lib/talks"
import { Icon } from "astro-icon/components"
---

<section class="my-16">
  <H2>Talks and Workshops</H2>
  <div class="grid gap-4">
    {
      talks.map((talk) => (
        <div class="flex flex-col border-b pb-2 last-of-type:border-b-0 last-of-type:pb-0 border-b-gray-800">
          <div class="flex flex-col">
            <H3>{talk.title}</H3>
            <p>
              {talk.description}{" "}
              {talk.blog !== null && (
                <a href={talk.blog} target="_blank" class="underline">
                  Read more <Icon name={icons.Visit} class="inline" />
                </a>
              )}
            </p>
          </div>
          <div class="flex gap-2 mt-1">
            <p class="font-bold">{talk.organizer}</p>
            <p>&#8226;</p>
            <p class="text-gray-300">{talk.date}</p>
            {talk.video !== null && (
              <>
                <p>&#8226;</p>
                <a
                  href={talk.video}
                  target="_blank"
                  class="flex items-center gap-1 hover:text-gray-200"
                >
                  <Icon name={icons.YouTube} /> YouTube
                </a>
              </>
            )}
          </div>
        </div>
      ))
    }
  </div>
</section>
