---
import Card from "@/components/ui/sections/card.astro"
import Container from "@/components/ui/sections/container.astro"
import H3 from "@/components/ui/typography/H3.astro"
import { icons } from "@/lib/icons"
import { talks } from "@/lib/talks"
import { Icon } from "astro-icon/components"
---

<Container title="Talks and Workshops">
  <Fragment slot="vertical-grid">
    {
      talks.map((talk) => (
        <Card>
          <Fragment slot="title">{talk.title}</Fragment>
          <Fragment slot="description">
            {talk.description}{" "}
            {talk.blog !== null && (
              <a href={talk.blog} target="_blank" class="underline">
                Read more <Icon name={icons.Visit} class="inline" />
              </a>
            )}
          </Fragment>
          <Fragment slot="custom-footer">
            <div class="flex gap-2">
              <p class="font-bold">{talk.organizer}</p>
              <p>&#8226;</p>
              <p>{talk.date}</p>
              {talk.video !== null && (
                <>
                  <p>&#8226;</p>
                  <a
                    href={talk.video}
                    target="_blank"
                    class="flex items-center gap-1 hover:text-gray-200"
                  >
                    <Icon name={icons.YouTube} /> YouTube
                  </a>
                </>
              )}
            </div>
          </Fragment>
        </Card>
      ))
    }
  </Fragment>
</Container>
